.App {
  padding: 8rem 4rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.dd__custom-class {
  display: flex;
  justify-content: space-between;
}